@using LWEnglishPractice.Entities;
@{

    ListenAndWriteContext _context = new ListenAndWriteContext();


}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <!-- Meta, title, CSS, favicons, etc. -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Listen and write English </title>

    <link rel="stylesheet" href="~/Style/bootstrap.min.css">
   
    <!-- Bootstrap -->
    <link href="cdn.datatables.net/1.10.20/css/jquery.dataTables.min.css">
    <link href="~/vendors/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">

    <!-- Font Awesome -->
    <link href="~/Fonts/fontawesome-free-6.2.1-web/css/all.min.css" rel="stylesheet" />
    <!-- NProgress -->
    <link href="~/vendors/nprogress/nprogress.css" rel="stylesheet">
    <!-- iCheck -->
    @*<link href="~/vendors/iCheck/skins/flat/green.css" rel="stylesheet">*@
    <!-- Datatables -->
    <link href="~/vendors/datatables.net-bs/css/dataTables.bootstrap.min.css" rel="stylesheet">
    <link href="~/vendors/datatables.net-buttons-bs/css/buttons.bootstrap.min.css" rel="stylesheet">
    <link href="~/vendors/datatables.net-fixedheader-bs/css/fixedHeader.bootstrap.min.css" rel="stylesheet">
    <link href="~/vendors/datatables.net-responsive-bs/css/responsive.bootstrap.min.css" rel="stylesheet">
    <link href="~/vendors/datatables.net-scroller-bs/css/scroller.bootstrap.min.css" rel="stylesheet">

    <!-- Custom Theme Style -->
    <link href="~/bootstrap-5.2.3-dist/css/bootstrap.min.css" rel="stylesheet" />


    <link href="~/multiSelectDropdown/virtual-select.css" rel="stylesheet" />
    <link href="~/tab/tab.css" rel="stylesheet" />
    <link href="~/build/css/custom.min.css" rel="stylesheet">
    <link href="~/popUp/popUp.css" rel="stylesheet" />
    <link href="~/Style/ListenAndWrite.css" rel="stylesheet" />
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.3/jquery.min.js"></script>
    <style>
        .swal-button--confirm {
            background-color: #C82333;
        }
    </style>

</head>

<body  class="nav-md" style="background-color: #F7F7F7;">
    <div class="container body">
        <div class="main_container" >
            <div class="col-md-3 left_col menu_fixed">
                <div class="left_col scroll-view">
                    <div class="navbar nav_title" style="border: 0;">
                        <a href="#" class="site_title text-center">@*<i class="fa fa-paw"></i>*@ <span>LWPractice</span></a>
                    </div>

                    <div class="clearfix"></div>

                    <!-- menu profile quick info -->
                    <div class="profile clearfix">

                    </div>
                    <!-- /menu profile quick info -->

                    <br />

                    <!-- sidebar menu -->
                    <div id="sidebar-menu" class="main_menu_side hidden-print main_menu">
                        <div class="menu_section">
                            <ul class="nav side-menu">

                                <li>
                                    <a><i class="fa fa-table"></i>Danh Mục<span class="fa fa-chevron-down"></span></a>
                                    <ul class="nav child_menu">
                                        <li class="sub_menu">
                                            @Html.ActionLink("Levels", "Index", "Levels", null, new { @class = " app-menu__label" })
                                        </li>
                                        <li class="sub_menu">
                                            @Html.ActionLink("Lessons", "Index", "Lessons", null, new { @class = " app-menu__label" })
                                        </li>
                                        <li class="sub_menu">
                                            @Html.ActionLink("Tracks", "Index", "Tracks", null, new { @class = " app-menu__label" })
                                        </li>
                                        <li class="sub_menu">
                                            @Html.ActionLink("Learners", "Index", "Learners", null, new { @class = " app-menu__label" })
                                        </li>
                                    </ul>

                                </li>

                                <li>
                                    <a> <i class="fa fa-table"></i>Quản Lý<span class="fa fa-chevron-down"></span></a>

                                    <ul class="nav child_menu">
                                        <li>
                                            <a>...<span class="fa fa-chevron-down"></span></a>
                                            <ul class="nav child_menu">


                                                <li>

                                                    @*@Html.ActionLink(" Phiếu Nhập Kho", "Index", "Phieunhapkho", null, new { @class = " app-menu__label" })*@

                                                </li>
                                                <li>
                                                    @*@Html.ActionLink(" Phiếu Bán Hàng", "Index", "Phieubanhang", null, new { @class = " app-menu__label" })*@
                                                </li>


                                            </ul>
                                        </li>

                                    </ul>

                                </li>


                            </ul>
                        </div>

                    </div>
                    <!-- /sidebar menu -->
                    <!-- /menu footer buttons -->
                    <div class="sidebar-footer hidden-small">
                        <a data-toggle="tooltip" data-placement="top" title="Settings">
                            <span class="glyphicon glyphicon-cog" aria-hidden="true"></span>
                        </a>
                        <a data-toggle="tooltip" data-placement="top" title="FullScreen">
                            <span class="glyphicon glyphicon-fullscreen" aria-hidden="true"></span>
                        </a>
                        <a data-toggle="tooltip" data-placement="top" title="Lock">
                            <span class="glyphicon glyphicon-eye-close" aria-hidden="true"></span>
                        </a>
                        <a data-toggle="tooltip" data-placement="top" title="Logout" href="~/Login/Logout">
                            <span class="glyphicon glyphicon-off" aria-hidden="true"></span>
                        </a>

                    </div>
                    <!-- /menu footer buttons -->
                </div>
            </div>

            <!-- top navigation -->
            <div class="top_nav">
                <div class="nav_menu">
                    <div class="nav toggle">
                        <a id="menu_toggle"><i class="fa fa-bars"></i></a>
                    </div>
                    <nav class="nav navbar-nav">
                        <ul class=" navbar-right">
                            <li class="nav-item dropdown open" style="padding-left: 15px;">
                                <a href="javascript:;" class="user-profile dropdown-toggle" aria-haspopup="true" id="navbarDropdown"
                                   data-toggle="dropdown" aria-expanded="false">

                                    <img src="~/Images/hienca.jpg" alt="No Image">
                                </a>
                                <div class="dropdown-menu dropdown-usermenu pull-right" aria-labelledby="navbarDropdown">
                                    <a class="dropdown-item" href="javascript:;"> Profile</a>
                                    <a class="dropdown-item" href="javascript:;">
                                        @*<span class="badge bg-red pull-right">50%</span>*@
                                        <span>Settings</span>
                                    </a>
                                    <a class="dropdown-item" href="javascript:;">Help</a>
                                    <a class="dropdown-item" href="~/Login/Logout"><i class="fa fa-sign-out pull-right"></i> Log Out</a>
                                </div>
                            </li>

                        </ul>
                    </nav>
                </div>
            </div>
            <!-- /top navigation -->
            <div class="right_col" role="main" style="padding:0">
                <div class="">


                    <div class="col-md-12 col-sm-12 pt-2 bg-white" style="border-radius:5px;">

                        @*<div class="x_title">*@
                        <div class="row title-title align-items-md-center ">
                            @RenderBody()

                        </div>
                        @*</div>*@
                    </div>
                </div>
            </div>




            @RenderSection("Scripts", required: false)
        </div>

    </div>


    <!-- jQuery -->
    <!-- jQuery -->
    <script src="~/vendors/jquery/dist/jquery.min.js"></script>
    <!-- Bootstrap -->
    <script src="~/vendors/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <!-- FastClick -->
    <script src="~/vendors/fastclick/lib/fastclick.js"></script>
    <!-- NProgress -->
    <script src="~/vendors/nprogress/nprogress.js"></script>
    <!-- iCheck -->
    <script src="~/vendors/iCheck/icheck.min.js"></script>
    <!-- Datatables -->
    <script src="~/vendors/datatables.net/js/jquery.dataTables.min.js"></script>
    <script src="~/vendors/datatables.net-bs/js/dataTables.bootstrap.min.js"></script>
    <script src="~/vendors/datatables.net-buttons/js/dataTables.buttons.min.js"></script>
    <script src="~/vendors/datatables.net-buttons-bs/js/buttons.bootstrap.min.js"></script>
    <script src="~/vendors/datatables.net-buttons/js/buttons.flash.min.js"></script>
    <script src="~/vendors/datatables.net-buttons/js/buttons.html5.min.js"></script>
    <script src="~/vendors/datatables.net-buttons/js/buttons.print.min.js"></script>
    <script src="~/vendors/datatables.net-fixedheader/js/dataTables.fixedHeader.min.js"></script>
    <script src="~/vendors/datatables.net-keytable/js/dataTables.keyTable.min.js"></script>
    <script src="~/vendors/datatables.net-responsive/js/dataTables.responsive.min.js"></script>
    <script src="~/vendors/datatables.net-responsive-bs/js/responsive.bootstrap.js"></script>
    <script src="~/vendors/datatables.net-scroller/js/dataTables.scroller.min.js"></script>
    <script src="~/vendors/jszip/dist/jszip.min.js"></script>
    <script src="~/vendors/pdfmake/build/pdfmake.min.js"></script>
    <script src="~/vendors/pdfmake/build/vfs_fonts.js"></script>

    <!-- Custom Theme Scripts -->
    <script src="~/build/js/custom.min.js"></script>
    <script type="text/javascript" src="~/multiSelectDropdown/virtual-select.min.js"></script>
    <script type="text/javascript">
        VirtualSelect.init({
            ele: 'select'
        });
    </script>



    <script src="~/tab/tab.js"></script>
    @section scripts{
        <script type="text/javascript">
            // Add the following code if you want the name of the file appear on select
            $(".custom-file-input").on("change", function () {
                var fileName = $(this).val().split("\\").pop();
                $(this).siblings(".custom-file-label").addClass("selected").html(fileName);
            });
        </script>
    }
    <script src="~/popUp/popUp.js"></script>

  <script>
      window.addEventListener('beforeunload', function () {
          var cookies = document.cookie.split(';');
          for (var i = 0; i < cookies.length; i++) {
              var cookie = cookies[i].trim();
              if (cookie.indexOf('HienCaCookie=') === 0) {
                  document.cookie = "hienca=; expires=Thu, 01 Jan 1970 00:00:00 UTC; path=/;";
                  break;
              }
          }
      });


  </script>

   
</body>

</html>


