@model LWEnglishPractice.Entities.History

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>History</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Score)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Score)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Finishtime)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Finishtime)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Finishdate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Finishdate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdlearnerNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdlearnerNavigation.Email)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdlessonNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdlessonNavigation.Lessonanme)
        </dd>
    </dl>
</div>
<div>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    <a asp-action="Index">Back to List</a>
</div>
